
<!DOCTYPE html>
<html>
<head>
    <title>Añadir Producto</title>
</head>
<style>
    .form-container{
    max-width: 400px; /* Ajusta el ancho según sea necesario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
    color: aliceblue;
  }
  h1{
    text-align: center;
    color: aliceblue;
  }
  body{
    background: linear-gradient(to right,rgba(0, 71, 255, 1),rgba(99, 32, 32, 1));
  }
</style>
<body>
    <h1>Añadir Producto</h1>
    <form method="post" enctype="multipart/form-data" class="form-container">
        {% csrf_token %} 
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>


</body>
</html>