{% load static %}
{% block body %}

<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<div class="container-form">
  <div class="Botilleria">
    <img src="{% static 'imagenes/logo terraza.png' %}" alt="Botilleria La Terraza">
    <h2 class="create-account">Botilleria la Terraza</h2>
  </div>
  
  <div class="formulario">
    <h2 class="create-account">Bienvenido a la Terraza</h2>
    <div class="iconos">
      <div class="border-icon">
        <i class='bx bxl-instagram'></i>
      </div>
      <div class="border-icon">
        <i class='bx bxl-twitter'></i>
      </div>
      <div class="border-icon">
        <i class='bx bxl-facebook-circle'></i>
      </div>
    </div>
    <h3 class="cuenta-gratis">Inicia Sesión</h3>
    <form method="POST" class="form-container">
      {% csrf_token %}
      <div class="mb-3">
        <label for="usuario" class="form-label">Usuario o Email</label>
        <input type="text" class="form-control" id="usuario" name="usuariologin"  required>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password1login"  required>
      </div>

      <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </form>
    <br>
    <p class="cuenta-gratis">¿No tienes una cuenta?</p>
    <a class="btn btn-primary" href="{% url 'registro' %}">Regístrate</a>
  </div>
</div>

{% if messages %}
  {% for mensaje in messages %}
    <div class="alert alert-info" role="alert">
      {{ mensaje }}
    </div>
  {% endfor %}
{% endif %}

{% endblock %}