{% extends "plantillaBase.html" %}
{% block body %}



<form  method ="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="usuario" class="form-label">Usuario</label>
      <input type="name" class="form-control" id="usuario" name="usuariologin" aria-describedby="emailHelp">
    </div>
  
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password1login">
      {% if messages %}
{% for mensaje in messages%}
{{mensaje}}
{% endfor %}
{% endif %}


    </div>
    <button type="submit" class="btn btn-primary"> Enviar </button>
  </form>
  {% endblock  %}