{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil - La Terraza Chile</title>
    <!-- Cargar CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        /* Añade tus estilos personalizados aquí */
    </style>
</head>

<body>
    <!-- Navbar y cabecera -->
    {% include "navbarplantilla.html" %}

    <!-- Contenido principal -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% if messages %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                        <div>{{ message }}</div>
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
                <div class="card custom-card-bg">
                    <!-- Se aplica un color especifico -->
                    <div class="card-body">
                        <h2 class="card-title">Mi Perfil</h2>
                        <hr>
                        <h4>Nombre de usuario: {{ user.username }}</h4>
                        <h4>Correo electrónico: {{ user.email }}</h4>
                        <h4>Fecha Nacimiento: {{ user.fecha_nacimiento }}</h4>
                        
                        <!-- Formulario para actualizar el nombre de usuario -->
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                           
                            <button type="submit" name="update" class="btn btn-primary">Guardar Cambios</button>
                        </form>
                        
                        <!-- Botón para abrir el modal de eliminación de cuenta -->
                        <button type="button" class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#eliminarCuentaModal">
                            Eliminar Cuenta
                        </button>
                        
                        <!-- Modal para confirmar la eliminación de la cuenta -->
                        <div class="modal fade" id="eliminarCuentaModal" tabindex="-1" aria-labelledby="eliminarCuentaModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="eliminarCuentaModalLabel" style="color: black;">¿Estás seguro que deseas eliminar tu cuenta?</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post">
                                            {% csrf_token %}
                                            <button type="submit" name="delete" class="btn btn-danger">Sí, eliminar cuenta</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include "footer.html" %}

    <!-- Scripts de Bootstrap y otros -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>
