{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>La Terraza Chile</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/productos.css' %}">
</head>
<body>
    {% include "navbarplantilla.html" %}

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="filtros">
                    <h2>Filtrar</h2>
                    
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscar productos..." id="barraBusqueda" />
                    </div>
                    <label for="tipo">Tipo de Licor:</label>
              <select name="tipo" id="tipo">
                <option value="">Todos</option>
                <option value="whisky">Whisky</option>
                <option value="ron">Ron</option>
                <option value="vodka">Vodka</option>
                
              </select>
              <div class="filtro">
                <label>Retiro:</label>
                <div>
                  <label for="local"
                    >Local
                    <input type="radio" id="local" name="retiro" value="local"
                  /></label>
                </div>
                <div>
                  <label for="entrega"
                    >Entrega
                    <input
                      type="radio"
                      id="entrega"
                      name="retiro"
                      value="entrega"
                  /></label>
                </div>
              </div>
                </div>  
            </div>

            <div class="col-md-9">
                <div class="row">
                    {% for producto in productos %}
                        <div class="col-md-4 producto-item" >
                            <div class="producto" >
                                {% if producto.imagen %}
                                    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" />
                                {% else %}
                                    <img src="{% static 'imagenes/logo terraza.png' %}" alt="{{ producto.nombre }}" />
                                {% endif %}
                                <h3>{{ producto.nombre }}</h3>
                                <p>Precio: ${{ producto.precio|floatformat:"0" }}</p>
                                <p>Stock: {{ producto.stock }}</p>
                                <label for="cantidad{{ producto.id }}">Cantidad:</label>
                                <input type="number" id="cantidad{{ producto.id }}" name="cantidad{{ producto.id }}" value="1" min="1" />
                                {% if user.is_authenticated %}
                                <button type="button" class="btn-comprar" data-id="{{ producto.id }}" data-nombre="{{ producto.nombre }}" data-precio="{{ producto.precio }}" >Comprar</button>
                                {% else %}
                                <p>Inicia sesión para comprar</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="{% static 'js/productos.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#barraBusqueda').on('input', function() {
                var query = $(this).val().toLowerCase();
                $('.producto-item').each(function() {
                    var nombreProducto = $(this).find('h3').text().toLowerCase();
                    if (nombreProducto.includes(query)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
</body>
</html>
