{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>La Terraza Chile</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
    
  </head>
  <body>
    {% include "navbarplantilla.html" %}
  <section>
    <div class="terminos">
    <p>
        <h2>TÉRMINOS Y CONDICIONES</h2>
Términos y Condiciones de "La Terraza"
Última actualización: 10 de abril de 2024

Bienvenido a "La Terraza". <p>Los siguientes Términos y Condiciones regulan el uso de nuestro sitio web y la compra de productos a través de dicho sitio. Al utilizar, navegar y realizar compras en este sitio, usted acepta los siguientes términos y condiciones.
</p>
<b><p> 1. Datos de la Empresa </p></b>

Este sitio web es operado por "La Terraza", ubicada en 2540 Av. Carlos Alessandri, Algarrobo, Valparaíso

<b><p>2. Proceso de Compra</p></b>

Aceptamos tranencias, pagos en efectivo y tarjetas de crédito o débito. Al confirmar la compra, el cliente se compromete a pagar el precio total del producto, incluidos los impuestos y los gastos de envío si corresponden. La venta se considera completa cuando "La Terraza" envía un correo electrónico al cliente confirmando la transacción.

<b><p>3. Entrega</p></b>

La entrega se puede realizar a través del siguiente método: Recogida en tienda. Para el despacho a domicilio, se le notificará el costo de envío durante el proceso de compra. Para la recogida en tienda, el cliente deberá presentar su Cédula de Identidad.

<b><p>4. Devoluciones y reembolsos</p></b>

Las devoluciones y reembolsos se manejarán de acuerdo con la política de devoluciones y reembolsos de "La Terraza".

<b><p>5. Leyes Aplicables y Jurisdicción</p></b>

Estos Términos y Condiciones se rigen por las leyes de Chile. Cualquier disputa que surja de estos términos y condiciones se resolverá en los tribunales de Puerto Montt, Chile. "La Terraza" se reserva el derecho de hacer cambios a nuestro sitio, políticas, y estos Términos y Condiciones en cualquier momento. Si alguna de estas condiciones es declarada inválida, nula, o por cualquier motivo inaplicable, esa condición será considerada separable y no afectará la validez y aplicabilidad de las condiciones restantes.
</p>
 
    </p></div>
  </section>

    
    

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-LfSLjNqsuZn7o7Q+FQPy7P6J2RVHKtzMzG+MmMwufcgzGh2j2D05wBZ6vNJqcuJ+" crossorigin="anonymous"></script>



    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>