
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(to left, rgba(0, 71, 255, 1), rgba(99, 32, 32, 1));

    position: relative; 
}

.message {
    padding: 1rem;
}

.message h1 {
    font-size: 2rem; 
    padding: 1rem 0;
    margin-bottom: 2rem;
}
a.btn.btn-primary {
    display: block;
    margin: 2rem auto;
    width: fit-content;
    text-align: center;
    background-color: #4a4aee;
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: #fff;
    text-decoration: none;
    font-size: .9rem;
  }
.message button,
.signup-btn { /* Aplicar estilos a ambos botones */
    padding: 1rem;
    font-weight: 400;
    background-color: #4a4aee;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: #fff;
}

.message button:hover,
.signup-btn:hover { /* Aplicar estilos a ambos botones en el hover */
    background-color: #6464f8;
}

.formulario {
    width: 500px;
    padding: 1rem;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(0, 0, 0, 0.602);
    text-align: center;
    z-index: 2;
    border: 1px solid white;
	border-radius: 30px;
    
}

.iconos {
    width: 250px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 2rem; /* Ajusta el margen superior */
}

.border-icon {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 2rem;
    transition: all .3s ease-in;
}

.border-icon:hover {
    background-color: #4a4aee;
    cursor: pointer;
}

.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}

.formulario img {
    width: 300px;
    display: flex;
    margin: auto;
    position: absolute; 
    bottom: -50px; 
    left: 50%; 
    transform: translateX(-50%);
    z-index: 1; 
}



@media screen and (max-width: 768px) {
    .formulario {
        width: 90%;
        margin: 1rem auto;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, rgba(0, 71, 255, 1), rgba(99, 32, 32, 1));

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative; 
}

.message {
    padding: 1rem;
}

.message h1 {
    font-size: 2rem; 
    padding: 1rem 0;
    margin-bottom: 2rem;
}

.message button,
.signup-btn { /* Aplicar estilos a ambos botones */
    padding: 1rem;
    font-weight: 400;
    background-color: #4a4aee;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: #fff;
}

.message button:hover,
.signup-btn:hover { /* Aplicar estilos a ambos botones en el hover */
    background-color: #6464f8;
}

.formulario {
    width: 500px;
    padding: 1rem;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(0, 0, 0, 0.602);
    text-align: center;
    z-index: 2; 
}

.iconos {
    width: 250px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 2rem; /* Ajusta el margen superior */
}

.border-icon {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 2rem;
    transition: all .3s ease-in;
}

.border-icon:hover {
    background-color: #4a4aee;
    cursor: pointer;
}

.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}

.formulario img {
    width: 300px;
    display: flex;
    margin: auto;
    position: absolute; 
    bottom: -50px; 
    left: 50%; 
    transform: translateX(-50%);
    z-index: 1; 
}
.login-link button {
    padding: 1rem;
    font-weight: 400;
    background-color: #4a4aee;
    border-radius: 2rem; /* Misma redondez que el botón de registro */
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: #fff;
}

.login-link button:hover {
    background-color: #6464f8;
}


@media screen and (max-width: 768px) {
    .formulario {
        width: 90%;
        margin: 1rem auto;
    }
}
